<div class="p-3 bg-secondary-subtle" style="height: 1250px;">
    <p class="fs-1 fw-bold m-4">仕入れ</p>
    <div class="mb-3 m-4" style="position:relative; left:60px">
        <label for="exampleFormControlInput1" class="form-label fs-3 fw-normal" >仕入れ元（ショップ）</label>
        <input type="password" id="inputPassword6" class="form-control form-control-lg border border-5" aria-labelledby="passwordHelpInline" style="width: 25%;">
    </div>
    <div class="mb-3 m-4" style="position:relative; left:60px">
        <label for="exampleFormControlInput1" class="form-label fs-3 fw-normal">商品名</label>
        <input type="password" id="inputPassword6" class="form-control form-control-lg border border-5" aria-labelledby="passwordHelpInline" style="width: 25%;">
    </div>
    <div class="mb-3 m-4" style="position:relative; left:60px">
        <label for="exampleFormControlInput1" class="form-label fs-3 fw-normal">仕入れ値</label>
        <input type="password" id="inputPassword6" class="form-control form-control-lg border border-5" aria-labelledby="passwordHelpInline" style="width: 25%;">
    </div>
    <div  style="position:relative; left:600px">
        <button type="button" class="btn btn-block btn-dark btn-lg m-3" style="width:140px" routerLink="/productManage">保存</button>
        <button type="button" class="btn btn-block btn-dark btn-lg m-1" style="width:140px" routerLink="/productManage">キャンセル</button>
    </div>
</div>